body{
    background-color: #565656 ;
    font-family: Nunito,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: white;
}
.infos{
    margin-left: 8%;
}
.toppage{
    text-align: center;
    background-image: url(cc-logo-bg-transparent.png);
}
a.links{
    background-color: white;
    border: solid white 2px;
    border-radius: 4px;
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-family: Nunito,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-top: 70px;
    padding:5px;
}
a.links:hover{
    background-color:#006400;
    border: solid white 2px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h5{
    font-size: 23px;
    margin-left: 3%;
}
h6{
    font-size: 18px;
    margin-left: 3%;
}
p{
    margin-left: 5%;
}